@import url(https://fonts.googleapis.com/css?family=Lato);

$body-bg: #ecf0f1;
$font-family-sans-serif: 'Lato', sans-serif;
$navbar-default-bg: black;
$navbar-default-link-color: white;
$jumbotron-bg: white;

@import 'bootstrap';
@import 'bootstrap-sprockets';

.center {
	text-align: center;
}

.navbar {
	font-weight: bold;
}